<% include partials/header %>


<header>
   <div>
      <h1>the page of the campgrounds</h1>
      <p>the best of the world !</p>
      <p>
         <a href="/campgrounds/new" >add new campground</a>
      </p>
   </div>
</header>
<h1> les terrains</h1>

<div >
     
   <% campgrounds.forEach(function(campground) { %>
         
         
            
            <img src="<%= campground.image %>" alt="">
            <div>
                  <h4><%= campground.name %></h4>
            </div>
      
   
   <% }); %>
</div>


<% include partials/footer %>
